/* Style CSS */

/* Remove ugly default style */
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

/* Menu style */
div#menu {
    background: #333333;
}

ul.tabs {
    width: 250px;
}

ul.tabs li {
    font: 80% 'DejaVu Sans', Verdana, Helvetica, sans-serif;
}

ul.tabs li a {
    background: #333333;
    border-bottom: 1px solid #393939;
    color: #DCDCDC;
    display: block;
    padding: 10px 20px;
}

ul.tabs li.current a {
    background-color: #FFFFFF;
    color: #5D5D5D;
}

ul.tabs li a:hover {
    background: #2580A2 url('../images/hover.gif') left center no-repeat;
    color: #FFFFFF;
}

ul.tabs li.current a:hover {
    background-color: #FFFFFF;
    color: #2B2B2B;
}
